<div class="jumbotron text-center">
<h1>Rebuild</h1>
</div>
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Rebuild</h1>
        <p>To rebuild your new life in Austin, Texas, It helps to seekout other immigrants who have been through the immigration process. New American citizens are willing to lend their help and advice to other hopful citizens.</p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span12">
          <h2>Meetup Group</h2>
          <p>How to join meetup.</p>
          <p><iframe width="854" height="480" src="https://www.youtube.com/embed/L6eMwo8sRoY" frameborder="0" allowfullscreen></iframe></p>
          <p>Meetup Group Links</p>
          <ul>
          <li>
          <a href="https://www.meetup.com/Austin-Immigration/">Austin Immigration</a>
          </li>
          <li>
          <a href="https://www.meetup.com/Employment-Immigration-Discussion-Group/">Employment Immigration Discussion Group</a>
          </li>
          </ul>
        </div>
      </div>

      <hr>

      <footer>
        <p>© Company 2013</p>
      </footer>

    </div> <!-- /container -->
