<div class="jumbotron text-center">
	 <img src="/Welcome Citizen Logo.png" class="img-responsive" alt="Responsive image">
</div>
<div class="container-fluid">
        <div class="container">

          <!-- Main hero unit for a primary marketing message or call to action -->
          <div class="hero-unit">
            <h1>Immigration Help Austin</h1>
            <p>Getting to Austin, Texas is only the first part of the journey. Welcome Citizen aims to support immigrants in the subsequent phases of their transition:</p>
            <p><a href="#" class="btn btn-primary btn-large">Learn more »</a></p>
          </div>

          <!-- Example row of columns -->
          <div class="row">
            <div class="span4">
            <img src="/image1.png" class="img-responsive" alt="Responsive image" width="300" height="300">
              <h2>Arival</h2>
              <p>Immigrants flee unstable areas to escape ongoing humanitarian crises and seek safety in their new home, Austin, Texas. The arrival is often fraught with trauma and stressful bureaucracy. Providing support to newly arrived immigrants in this step is critical to their success.</p>
              <p><a class="btn" href="#">View details »</a></p>
            </div>
            <div class="span4">
            <img src="/flag-and-immigrants1.png" class="img-responsive" alt="Responsive image" width="300" height="300">
              <h2>Starting New</h2>
              <p>Now physically safe, immigrants must build an entirely new life in Austin, Texas: seek employment, find a place to live, navigate the English language and customs, and much more. We seek to offer resources and advice to immigrants in this step to help immigrants navigate the process of starting over in Texas.</p>
              <p><a class="btn" href="#">View details »</a></p>
           </div>
            <div class="span4">
            <img src="/2006-7-27-57502823.png" class="img-responsive" alt="Responsive image" width="300" height="300">
              <h2>Fulfilling Potential</h2>
              <p>Often, immigrants are put in boxes that deny their talents and contributions, or limit their opportunities due to language and/or cultural barriers. The final step is about breaking down these barriers and allowing people to fulfill their potential as citizens and professionals.</p>
              <p><a class="btn" href="#">View details »</a></p>
            </div>
          </div>

          <hr>

          <footer>
            <p>© Welcome Citizen 2016</p>
          </footer>

        </div> <!-- /container -->







</div>
