<div class="jumbotron text-center">
    <h1>Form</h1>

    <p>{{ tagline }}</p>
</div>
<form>
    <p>
        1. * We provide the information on this website as a public service. We do not intend this information to be legal advice. By providing this information, we are not acting as your lawyer. Do you agree to these terms?
    </p>
    <input type="radio" name="YesNo" value="Yes" checked>Yes<br>
    <input type="radio" name="YesNo" value="No">No<br>
<p>
  
</p>










    <input type="submit" value="Submit"/>
</form>







<div ng-app="myApp" ng-controller="formCtrl">
  <form novalidate>
    First Name:<br>
    <input type="text" ng-model="user.firstName"><br>
    Last Name:<br>
    <input type="text" ng-model="user.lastName">
    <br><br>
    <button ng-click="reset()">RESET</button>
  </form>
  <p>form = {{user}}</p>
  <p>master = {{master}}</p>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('formCtrl', function($scope) {
    $scope.master = {firstName: "John", lastName: "Doe"};
    $scope.reset = function() {
        $scope.user = angular.copy($scope.master);
    };
    $scope.reset();
});
</script>
